div.contenedorItemList {
    padding: 1rem;
    display: flex;
  }
  
  ul.productosItemList {
    display: flex;
    flex-wrap: wrap;
    gap: 6.5rem;
    margin-top: 6rem;
    position: relative;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    align-items: center;
    justify-content: center;
}

.card{
    padding: 5px;
    display: flex;
flex-direction: row;
}